Config { font = "xft:Monospace Regular-7"
       , additionalFonts = []
       , borderColor = "black"
       , border= BottomB
       , bgColor = "#292929"
       , fgColor = "grey"
       , alpha = 255
       , position = TopSize L 100 17
       , textOffset = 12
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = False
       , commands = [ Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","red","--high","green"] 10
                    , Run Cpu ["-L","3","-H","50",
                               "--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Com "uname" ["-s", "-r"] "" 36000
		    , Run Com "uptime" ["--pretty"] "" 10
		    , Run Weather "SANT" ["-t", "<station>: <tempC>C"] 36000
		    
                    , Run Date "%a %b %_d %Y %H:%M:%S" "date" 10
		    , Run DiskU [("/", "<usedp>/<size>"), ( "sda2", "<usedbar")]
	                        ["-L", "20", "-H", "50", "-m", "1", "-p", "3"] 20
		    , Run UnsafeStdinReader				
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%cpu% | %memory% | %disku% | %eth0% }\
                    \  { <fc=#ee9a00>%date%</fc> | %SANT% | %uptime% | %uname%"
       }
